<nav>
  <div class="site-titel">
    <a href="/"><h1>Anisha Swain</h1></a>
    <p>Web Developer | MERN Stack</p>
  </div>

  <ul>
    <li><a href="/blogs"> Blogs</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>
