<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs', title) %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="home content">
      <img class="home-img" src="/my_img.jpeg" />
      <div class="about-me">
        <p>
          This is a simple blog page created with Node and express framework.
          <h4>About me:</h4>
          <p>Anisha is from Bengaluru, India where she works as an Associate Software Engineer in the Performance and Scale team of Red Hat. She has more than 1 year of experience with a focus on Full-Stack Development and User Interface Designing. She took the plunge into Linux System Administration as well. In her spare time, she is an avid long-form reader who is very passionate about space science, lover of all artistic creations and is attempting to hone basic sketch noting skills.</p>
        </p>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
